@model SurveyOnline.Models.SurveySubject

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
    string CurrentUrl = HttpContext.Current.Request.Url.ToString();
}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Survey</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Management</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Survey</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    @Html.ActionLink("New", "Create", null, new { @class = "btn btn-sm btn-neutral" })
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class=" col ">
            <div class="card">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Survey detail</h3>
                </div>
                <div class="card-body">
                    <div>
                        <div class="dl-horizontal">
                            <h3> Survey information</h3>
                            <div class="d-flex">
                                <h4>@Html.DisplayNameFor(model => model.SubjectName) : </h4>
                                <div class="ml-3 font-weight-bold">
                                    @Html.DisplayFor(model => model.SubjectName)
                                </div>
                            </div>
                            <div>
                                <h4>
                                    @Html.DisplayNameFor(model => model.Description)
                                </h4>
                                <p>
                                    @Html.DisplayFor(model => model.Description)
                                </p>
                            </div>
                            <div>
                                <h4>
                                    @Html.DisplayNameFor(model => model.DescriptionFooter)
                                </h4>
                                <p>
                                    @Html.DisplayFor(model => model.DescriptionFooter)
                                </p>
                            </div>

                        </div>
                    </div>
                    <div>
                        <ul class="list-group">
                            @foreach (var item in Model.SurveyGroups)
                            {
                                <li class="list-group-item">
                                    @Html.ActionLink(item.Name, "Details", "SurveyGroups", new { id = item.ID }, null)
                                    <div>
                                        <ul>
                                            @foreach (var question in item.QuestionSurveys)
                                            {
                                                <li>
                                                    @question.Question
                                                    <div class="ml-auto">
                                                        <a href="@Url.Action("Edit","QuestionSurveys",new {id =question.ID })" class="btn btn-info">Edit</a>
                                                        <a href="@Url.Action("Delete","QuestionSurveys",new {id =question.ID})" class="btn btn-warning">Delete</a>
                                                        @if(question.QuestionTypeGroupID == 1)
                                                        {
                                                            <a href="@Url.Action("Create","Subquestions",new{ QuestionID = question.ID ,returnUrl = CurrentUrl})" >
                                                                Add subquestion
                                                            </a>
                                                        }
                                                    </div>
                                                </li>
                                            }
                                            <li class="">
                                                @Html.ActionLink("Add Question", "Create", "QuestionSurveys", new { SurveySubjectID = Model.ID, SurveyGroupID = item.ID, returnUrl = CurrentUrl }, null)
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            <li class="list-group-item">
                                @Html.ActionLink("Add Group", "Create", "SurveyGroups", new { SubjectID = Model.ID, returnUrl = CurrentUrl }, null)
                            </li>
                        </ul>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>